body {
	font: normal 400 1em 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

h1, h3, h4 {
	font-family: 'Arima Madurai', cursive;
}

h2, h5 {
	font-weight: 500;
}