.home-page {
  height: 100%;
  padding: 7px 5px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.home-page > div {
  height: 100%;
  border-radius: 20px;
  background-color: #F0F7FF;
}

/* Logo component styles */
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&display=swap');

.logo {
  padding: 19.19px 0 0 24.13px;
  font-family: 'Arima Madurai', cursive;
  font-size: 44.24px;
  line-height: 1;
}

/* RecipeType component styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.recipe-type {
  width: 623.7px;
  margin: 17.81px 87.8px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.recipe-type li {
  font-family: 'Roboto', sans-serif;
  font-size: 17.53px;
  color: #969696;
}

.recipe-type li.selected {
  color: #404040;
}

/* Main compnent styles */
.main-layout {

}

.main-layout > .flex {
  display: flex;
}

/* DishType compnent styles */
.dish-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 357.17px;
  width: 35.6px;
  margin-left: 25.21px;
  padding: 0;
  list-style: none;
}

.dish-type li {
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  font-family: 'Roboto', sans-serif;
  font-size: 17.53px;
  color: #969696;
}

.dish-type li:before {
  content: '';
  display: block;
  width: 9.71px;
  height: 9.71px;
  margin: auto 10px auto 0;
  border-radius: 9.71px;
  background-color: transparent;
}

.dish-type li.selected {
  color: #404040;
}

.dish-type li.selected:before {
  background-color: #408EBA;
}

/* Recipe component style */
.recipe {
  width: 623.7px;
  margin-left: 26.98px;
  border-radius: 19.42px;
  background-color: white;
}

.recipe > div {
  margin: 6.89px 8.63px;
  border-radius: 19.42px;
  background-color: #F0F7FF;
}

/* Summary component styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.summary {
  width: 451.05px;
  padding-top: 16.14px;
  margin-left: 11.42px;
}

.summary .header {
  font-family: 'Arima Madurai', cursive;
  font-size: 23.98px;
}

.summary .body {
  font-family: 'Roboto', sans-serif;
  font-size: 13.21px;
  color: #404040;
}

/* Ingredient component style */
.ingredient {
  width: 139.8px;
  display: flex;
}

.ingredient .image {
  padding: 6.16px 11.59px 7.03px 11.38px;
  border-top: 0.51px solid white;
  border-bottom: 0.51px solid white;
  border-left: 0.68px solid white;
  border-right: 0.68px solid white;
  border-radius: 7.03px;
  box-shadow: 0px 1.75848px 4.39621px rgba(0, 0, 0, 0.15);
}

.ingredient .description {
  margin: 6.5px 0 0 6px;
}

.ingredient .description > div:first-child {
  padding-top: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 10.55px;
  font-weight: 500;
  color: #404040;
}

.ingredient .description > div:last-child {
  padding-top: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 8.12px;
  color: #969696;
}